<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="checkoutPage">
    <nav class="checkoutNav">
    <a class="homeLink" href="/1">Home</a> |
    <a class="statusLink" href="/status">Status</a>
    </nav>
    <p class="checkoutText"> You have successfully made an appointment. Thank you! </p>
  </body>
</html>
