<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>autoly</title>
    <link rel="stylesheet" href="styles.css" type: "text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">  </head>
  <header>
    <a href="/home"><img id = "logo" src="logo5.png" alt="logo"/></a>
    <a href="/home"><h1 id="title">Autoly</h1></a>
  </header>
  <body>
    {{{body}}}
  </body>

  <footer class="row">
    <a href="#">Settings</a> || <a href="#">About</a>
  </footer>


</html>
